body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}


.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  cursor: pointer;
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);;
  overflow: hidden;

  /* Efeitos para o slide */
  opacity: .8;
  transform: scale(0.8);
  transition: .4s;
}


.slide li.active {
  opacity: 1;
  transform: scale(1);
}



/* Estilo dos controles */
[data-control='slide'] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control='slide'] li a {
  display: block;

  width: 12px;
  height: 12px;

  margin: 3px;
  
  background: #fb5;

  border-radius: 50%;

  overflow: hidden;
  text-indent: -999px;
}

[data-control='slide'] li.active a,
[data-control='slide'] li a:hover {
  background: #e54;
}


/* Estilo para os constroles inseridos pelo usuário (customizado) */

.custom-controls {
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;

  margin: 20px 0;
}

.custom-controls li {
  width: 40px;
  height: 40px;

  margin: 2px;

  border-radius: 50%;
  overflow: hidden;

  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
  
  cursor: pointer;
  
  opacity: .8;
  transform: scale(.8);
  transition: .3s;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}


/* Estilizando os controles Prev e Next */

.arrow-nav {
  display: flex;
  justify-content: space-around;

  margin: 20px 0;
}

.arrow-nav button {
  width: 40px;  
  height: 40px;

  background: #fb5 url('../img/arrow.svg') center center no-repeat;
  color: white;
  
  border-radius: 4px;

  text-indent: -9999px;

  cursor: pointer;
  border: none;
  outline: none;
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}