body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}


.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  cursor: pointer;
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);;
  overflow: hidden;

  /* Efeitos para o slide */
  opacity: .8;
  transform: scale(0.8);
  transition: .4s;
}


.slide li.active {
  opacity: 1;
  transform: scale(1);
}